body
{

    color: deeppink;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
}
title{
    color: chartreuse;
}

<<<<<<< HEAD
#footer {
    color: black;
    text-align: center;
}
=======
>>>>>>> 23d1fd91c784764c3d440ebf98bfa33bc65cdfcc
